<mat-list>
    <h3 matSubheader>Project</h3>
    <mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span mat-line>Project Home</span>
        <span mat-line matSubheader>Check Projects</span>
    </mat-list-item>
    <h3 matSubheader>Calendar</h3>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar-today</mat-icon>
        <span mat-line>Month View</span>
        <span mat-line matSubheader>Check tasks by month</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar-today</mat-icon>
        <span mat-line>Week View</span>
        <span mat-line matSubheader>Check tasks by week</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar-today</mat-icon>
        <span mat-line>Day View</span>
        <span mat-line matSubheader>Check tasks by day</span>
    </mat-list-item>
</mat-list>
