<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Email" >
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" >
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p><a routerLink="/register">Sign up</a></p>
            <p><a href="">Find Password</a></p>
            
        </mat-card-actions>
    </mat-card>
</form>

